/*BODY*/
body{
    font-family: 'Inter',sans-serif;
}
figcaption{
    display: none;
}
img{
    width: 222px;
    height: 140px;
}

/* HEADER */
header{
    background-color: #F3A7DC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-family: 'Clicker Script', cursive;
    font-size: 28px;
}
.logo img{
  display: none;
}
nav ul li{
    display: none;
}
nav ul li:last-child{
    display: block;
}
nav ul li:last-child img{
    width: 28px;
    height: 28px;
    margin: 0 18px;
}
/*HEADER*/

/*SECÃO VITRINE*/
#vitrine{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards{
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    margin: 27px;
    width: 296px;
    height: 369px;
}
.img{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 148px;
    width: 296px;
}
.categoria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 9px 0px 6px 10px;
    width: 72px;
    height: 22px;
    background: #F3A7DC;
}
.categoria:hover{
    background-color: black;
}
.categoria p{
    color: #FFFFFF;
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
}

.descricao {
    width: 296px;
    height: 215px;
}
h3{
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-left: 10px;
    margin-top: 20px;
}
.descricao-produto{
    color: #363636;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    margin-top: 20px;
}
.price{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    margin-top: 20px;
    color: #2e245e;
}
.adicionar-carrinho button{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #363636;
    border: none;
    background-color: transparent;
    text-decoration-line: underline;
    margin: 20px 0px 13px 10px;
}
.adicionar-carrinho button:hover{
    color: #F3A7DC;
    background-color: black;
}
#barra-pesquisa{
    max-width: 296px;
    max-height: 50px;
    margin-left: 27px;
}
#barra-pesquisa input{
    width: 200px;
    height: 40px;
    background: #f5f5f5;
    border: solid 1px #f5f5f5;
    padding-left: 10px;
    font-size: 14px;
}
#barra-pesquisa button{
    position: absolute;
    width: 85px;
    height: 44px;
    background: #F3A7DC;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
}
.carrinho{
    max-width: 296px;
    margin-top: 10px
}
.car-compras{
    width: 296px;
    background: #F3A7DC;
    height: 44px;
    border: 1px solid #F3A7DC;
}
.car-compras p{
    display: flex;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 13px 0;
}
.car-produtos{
    width: 296px;
    height: 344px;
    margin-bottom: 20px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.car-Vazio{
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
}
.itens{
    font-size: 14px;
    line-height: 16px;
    color: #363636;
}


/* MEDIA QUERIES */

@media screen and (min-width: 400px){
    body{
        width: 100%;
        max-height: 919px;
    }
    header{
        display: flex;
        height: 76px;
        justify-content: space-around;
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .logo img{
        display: block;
        object-fit: none;
        height: 76px;
    }
    h1{
        font-size: 32px;
    }
    nav ul{
        display: flex;
        align-items: center;
    }
    nav ul li{
        display: block;
        align-items: center;
        padding: 17px 10px 28px;
    }
    nav ul li:last-child img{
        display: none;   
    }
    nav ul li a{
        text-decoration: none;
        color:black;
        font-size: 16px;
        font-weight: 600;
    } 
    nav ul li a:hover{
        color: blanchedalmond;
    }
    main{
        display: flex;
        flex-direction: row;
    }
    .card_s{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    img{
        width: 138px;
        height: 115px;
    }
    .img{
        width: 230px;
    }
    .cards{
        margin: 27px;
        width: 230px;
        height: 350px;
    }
    .categoria{
        width: 45px;
        height: 16px;
        margin: 6px 0px 6px 10px;
    }
    .categoria p{
        font-size: 8px;
    }
    h3{
        font-size: 13px;
        line-height: 0px;   
    }
    .descricao-produto{
        font-size: 10px;
        margin: 20px 60px 10px 10px;
    }
    #barra-pesquisa{
        margin: 27px;
    }
}